---
import CategoryMenu from "./CategoryMenu.astro"
---

<div class="md:hidden sticky bottom-0 z-40 bg-white shadow-xl p-3 border-t">
  <div class="flex justify-around">
    <a href="/" class="text-sm font-semibold text-gray-700">Início</a>
    <a href="/produtos" class="text-sm font-semibold text-gray-700">Produtos</a>
    <a href="/carrinho" class="text-sm font-semibold text-gray-700">Carrinho</a>
    <a href="/contato" class="text-sm font-semibold text-gray-700">Contato</a>
  </div>
</div>
